[indexer]
indexer_address = "${STAKING_WALLET_ADDRESS}"
operator_mnemonic = "${OPERATOR_SEED_PHRASE}"

[metrics]
port = 7300

[database]
postgres_url = "postgres://${AGENT_DB_USER}:${AGENT_DB_PASS}@${AGENT_DB_HOST}:5432/${AGENT_DB_NAME}"

[graph_node]
query_url = "http://query-node-0:8000"
status_url = "http://index-node-0:8030/graphql"

[subgraphs.network]
query_url = "${NETWORK_SUBGRAPH_ENDPOINT:-https://api.thegraph.com/subgraphs/name/graphprotocol/graph-network-arbitrum-sepolia}"
# query_auth_token = "${FREE_QUERY_AUTH_TOKEN}"
deployment_id = "${NETWORK_SUBGRAPH_DEPLOYMENT}"
syncing_interval_secs = ${NETWORK_SYNCING_INTERVAL_SECS:-60}
recently_closed_allocation_buffer_secs = ${RECENTLY_CLOSED_ALLOCATION_BUFFER_SECS:-3600}

[subgraphs.escrow]
query_url = "${NETWORK_ESCROW_ENDPOINT}"
# query_auth_token = "${FREE_QUERY_AUTH_TOKEN}"
deployment_id = "${NETWORK_ESCROW_DEPLOYMENT}"
syncing_interval_secs = ${NETWORK_SYNCING_INTERVAL_SECS:-60}

[blockchain]
chain_id = ${INDEXER_SERVICE_CHAIN_ID:-421614}
receipts_verifier_address = "${INDEXER_SERVICE_RECEIPTS_VERIFIER_ADDRESS:-0xfC24cE7a4428A6B89B52645243662A02BA734ECF}"

[service]
host_and_port = "127.0.0.1:7600"
url_prefix = "/"
serve_network_subgraph = ${INDEXER_SERVICE_SERVE_NETWORK_SUBGRAPH:-false}
serve_escrow_subgraph = ${INDEXER_SERVICE_SERVE_ESCROW_SUBGRAPH:-false}
# serve_auth_token = "${FREE_QUERY_AUTH_TOKEN}"
# free_query_auth_token = "${FREE_QUERY_AUTH_TOKEN}"

[service.tap]
max_receipt_value_grt = "0.001"

[tap]
max_amount_willing_to_lose_grt = "20"

[tap.rav_request]
trigger_value_divisor = 10
timestamp_buffer_secs = 60
request_timeout_secs = 5
max_receipts_per_request = 10000

[tap.sender_aggregator_endpoints]
# 0xdeadbeefcafebabedeadbeefcafebabedeadbeef = "https://example.com/aggregate-receipts"
# 0x0123456789abcdef0123456789abcdef01234567 = "https://other.example.com/aggregate-receipts"
0xC3dDf37906724732FfD748057FEBe23379b0710D = "https://tap-aggregator.testnet.thegraph.com"
